{% extends 'web/base.html' %} {% load static %} {% block content %}



<!DOCTYPE HTML>
<html lang="en">

<head>
  

</head>

<body class="btn-style-4 btn-square sidebar-style-4">
  <!--header Start-->
  
  <!--subheader Start-->
  <div id="section-subheader">
    <div class="sigma_subheader style-11 bg-cover bg-center dark-overlay"
      style="background-image: url(/static/web/img/about-us/1920x800-1.jpg)">
      <div class="container d-block d-lg-flex align-items-center justify-content-between">
        <div class="sigma_subheader-inner">
          <h1 class="mb-4 mb-lg-0">About Us</h1>
        </div>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a class="btn-link" href="#">Home</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">About Us</li>
        </ol>
      </div>
    </div>
    <!--subheader End-->
  </div>
  </div>
  </div>
  <!--about Start-->
  <div id="section-about">
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 d-none d-lg-block">
            <div class="sigma_about style-10 w-100 h-100">
              <div class="sigma_about-image-1">
                <img src="/static/web/img/about-us/300x230.jpg" alt="img">
              </div>
              <div class="sigma_about-image-2">
                <img src="/static/web/img/about-us/300x300.jpg" alt="img">
              </div>
              <div class="sigma_about-image-3">
                <img src="/static/web/img/about-us/300x230-0.jpg" alt="img">
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="sigma_about style-10 pl-lg-4">
              <div class="section-title">
                <span class="subtitle">About us</span>
                <h3 class="title">Good author & wonderful Plot
                </h3>
              </div>
              <div class="sigma_about-content">
                <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                  ut labore et dolore magna
                  aliqua.</p>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="sigma_media">
                    <span> <b class="counter" data-from="0" data-to="24">24</b> <span>+</span>
                    </span>
                    <div class="sigma_media-content">
                      <h5>Book Deal Series</h5>
                      <p> Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="sigma_media">
                    <span> <b class="counter" data-from="0" data-to="98">100</b> <span>%</span>
                    </span>
                    <div class="sigma_media-content">
                      <h5>Happy Author</h5>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                    </div>
                  </div>
                </div>
              </div>
              <a href="contact-us.html" class="sigma_btn">Get a Quote</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--about End-->
  </div>
  <!--team Start-->
  <div id="section-team">
    <div class="section section-padding pt-0">
      <div class="container">
        <div class="section-title centered has-element">
          <h3 class="title">Featured Author</h3>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="sigma_team style-9">
              <div class="sigma_team-thumb">

                <img src="/static/web/img/about-us/350x400-2.jpg" alt="team">

                <div class="sigma_team-body">
                  <div class="sigma_team-title">
                    <h5>
                      <a href="#">Nicolas Sumpir</a>
                    </h5>
                    <div class="sigma_team-categories">
                      <a href="#" class="sigma_team-category">2 Published Book</a>
                    </div>
                  </div>
                  <ul class="sigma_social-icons">
                    <li>
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="sigma_team style-9">
              <div class="sigma_team-thumb">

                <img src="/static/web/img/about-us/350x400-3.jpg" alt="team">

                <div class="sigma_team-body">
                  <div class="sigma_team-title">
                    <h5>
                      <a href="#">Maria Sied</a>
                    </h5>
                    <div class="sigma_team-categories">
                      <a href="#" class="sigma_team-category">50 Published Book</a>
                    </div>
                  </div>
                  <ul class="sigma_social-icons">
                    <li>
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="sigma_team style-9">
              <div class="sigma_team-thumb">

                <img src="/static/web/img/about-us/350x400-4.jpg" alt="team">

                <div class="sigma_team-body">
                  <div class="sigma_team-title">
                    <h5>
                      <a href="#">Tim Abell</a>
                    </h5>
                    <div class="sigma_team-categories">
                      <a href="#" class="sigma_team-category">9 Published Book</a>
                    </div>
                  </div>
                  <ul class="sigma_social-icons">
                    <li>
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--team End-->
  </div>
  <!--counter Start-->
  <div id="section-counter">
    <div class="section pt-0">
      <div class="container">
        <div class="section section-padding bg-primary-1 shape-after">
          <h3 class="sigma_stroke-text center-absolute">00000</h3>
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <div class="sigma_counter text-center">
                <span class="justify-content-center">
                  <b class="counter text-white" data-from="0" data-to="2500">25</b>
                  <span class="plus text-white">+</span>
                </span>
                <p class="text-white">Complete Sale</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="sigma_counter text-center">
                <span class="justify-content-center">
                  <b class="counter text-white" data-from="0" data-to="58">89</b>
                  <span class="plus text-white">+</span>
                </span>
                <p class="text-white">Awards</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="sigma_counter text-center">
                <span class="justify-content-center">
                  <b class="counter text-white" data-from="0" data-to="25">58</b>
                  <span class="plus text-white">+</span>
                </span>
                <p class="text-white">Experience</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="sigma_counter text-center">
                <span class="justify-content-center">
                  <b class="counter text-white" data-from="0" data-to="96">96</b>
                  <span class="plus text-white">+</span>
                </span>
                <p class="text-white">Author</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--counter End-->
  </div>
  <!--blog Start-->
  <div id="section-blog">
    <div class="section section-padding pt-0">
      <div class="container">
        <div class="section-title centered has-element">
          <h3 class="title">Latest Blog</h3>
        </div>
        <div class="row pt-0 pt-lg-5 ">
          <div class="col-lg-4 col-md-6">
            <article class="sigma_post style-13">
              <a href="blog-details.html" class="sigma_post-date">
                <span>24</span>
                Jun
              </a>
              <div class="sigma_post-thumb">
                <a href="blog-details.html" class="d-block">
                  <img src="/static/web/img/about-us/350x300-2.jpg" alt="img">
                </a>
              </div>
              <div class="sigma_post-body">
                <div class="sigma_post-meta">
                  <ul>
                    <li>
                      <a href="#">By <b>Admin</b></a>
                    </li>
                    <li>
                      <a href="#">Booksly</a>
                    </li>
                  </ul>
                </div>
                <div class="sigma_post-content">
                  <h5>
                    <a href="blog-details.html">Meet & Great New Book</a>
                  </h5>
                  <p class="m-0">Mauris ipsum aliquam libero, non adipiscing dolor urna a orci.
                  </p>
                </div>
              </div>
            </article>
          </div>
          <div class="col-lg-4 col-md-6">
            <article class="sigma_post style-13">
              <a href="blog-details.html" class="sigma_post-date">
                <span>22</span>
                Apr
              </a>
              <div class="sigma_post-thumb">
                <a href="blog-details.html" class="d-block">
                  <img src="/static/web/img/about-us/350x300-3.jpg" alt="img">
                </a>
              </div>
              <div class="sigma_post-body">
                <div class="sigma_post-meta">
                  <ul>
                    <li>
                      <a href="#">By <b>Admin</b></a>
                    </li>
                    <li>
                      <a href="#">Booksly</a>
                    </li>
                  </ul>
                </div>
                <div class="sigma_post-content">
                  <h5>
                    <a href="blog-details.html">Reading Space</a>
                  </h5>
                  <p class="m-0">Mauris ipsum aliquam libero, non adipiscing dolor urna a orci.
                  </p>
                </div>
              </div>
            </article>
          </div>
          <div class="col-lg-4 col-md-6">
            <article class="sigma_post style-13">
              <a href="blog-details.html" class="sigma_post-date">
                <span>12</span>
                Jan
              </a>
              <div class="sigma_post-thumb">
                <a href="blog-details.html" class="d-block">
                  <img src="/static/web/img/about-us/350x300-4.jpg" alt="img">
                </a>
              </div>
              <div class="sigma_post-body">
                <div class="sigma_post-meta">
                  <ul>
                    <li>
                      <a href="#">By <b>Admin</b></a>
                    </li>
                    <li>
                      <a href="#">Booksly</a>
                    </li>
                  </ul>
                </div>
                <div class="sigma_post-content">
                  <h5>
                    <a href="blog-details.html">Tunnel Books</a>
                  </h5>
                  <p class="m-0">Mauris ipsum aliquam libero, non adipiscing dolor urna a orci.
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
    <!--blog End-->
  </div>
  <!--footer Start-->
  
  <!--to-top Start-->
  <div id="section-to-top">
    <div class="sigma_top style-3">
      <i class="far fa-arrow-up"></i>
    </div>
    <!--to-top End-->
  </div>

  

</body>


</html>
{% endblock %}
