{% load static %}
<!--footer Start-->
  <div id="section-footer">
    <footer class="sigma_footer style-2 sigma_footer-dark pb-0">
      <div class="container">
        <div class="sigma_footer-top">
          <div class="sigma_footer-logo">
            <img src="/static/web/img/logo-white.png" alt="logo">
          </div>
          <div class="footer-item">
            <ul class="sigma_footer-links">
              <li>
                <a href="index.html">Home</a>
              </li>
              <li>
                <a href="about-us.html">About</a>
              </li>
              <li>
                <a href="blog.html">Blog</a>
              </li>
              <li>
                <a href="contact-us.html">Contacts</a>
              </li>
            </ul>
          </div>
          <div class="footer-item">
            <ul class="sigma_social-icons">
              <li>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-instagram"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="sigma_footer-bottom">
          <div class="payment-cards mb-3">
            <img src="/static/web/img/payment-cards.png" alt="img">
          </div>
          <div class="sigma_footer-copyright">
            <p class="mb-0">&copy;2023 Booksly -
              All Rights Reserved.
            </p>
          </div>
        </div>
      </div>
    </footer>
    <!--footer End-->